/* ALL*/
* {
    font-family: 'Roboto Slab', serif;
  }
  body {
    background-color: #0000000d;
  }
  #footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  #footer-content {
    font-size: 84%;
    margin-bottom: 0;
  }
  



  /* HOME */
  .container-custom {
    margin-top: 4em;
  }
  
  #about-me-heading {
    font-weight: 600;
  }
  .about-me-word {
    font-weight: 600;
  }
  .about-me-social-logo {
    height: 2em;
    margin-right: .7em;
  }
  #about-me-horizontal-line {
    border-bottom: 1px solid #000000b0;
    margin-top: 4em;
  }
  #contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #contact-form-header {
    font-weight: 600;
  }
  #contact-form-button {
    background: white;
    border: 1px solid #0000003b;
    border-radius: 5px;
    width: 73%;
    height: 2em;
    width: 12em;
    color: #000000d6;
  }
  



  /* EXPERIENCE */
  .company-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .company-logo {
    width: 4em;
    height: 4em;
    background: white;
    object-fit: cover;
    border-radius: 50%;
    padding: .3em;
  }
  .experience-details-item {
    margin: 0;
    color: #464646;
  }
  .experience-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .experience-item {
    border: 1px solid #343a40;
    border-radius: 5px;
    margin-right: .7em;
    padding: .1em .5em;
    font-size: 85%;
  }
  .experience-header {
    margin-bottom: .1em;
  }
  .experience-horizontal-line {
    margin-bottom: 2em;
  }
  



  /* PROJECTS */
  .carousel-custom {
    width: 55em;
    border-radius: 5px;
  }
  .carousel-inner-custom {
    border-radius: inherit;
  }
  .carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%353535' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%353535' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
  }



  /* DESKTOP */
  @media screen and (min-width: 992px) {
    .navbar-custom {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
      border-bottom: 1.5px solid gray;
      height: 4.1em;
      background: #353535;
    }
    .navbar-nav-default {
      height: 100%;
      width: 20em;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .nav-link-custom-active {
      border-bottom: 3px solid #17E7CF;
      height: 100%;
    }
    .nav-link-custom {
      color: white;
    }
    #about-me-parragraph-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #about-me-image-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    #about-me-social-logos-container {
      margin-top: 1em;
    }
    #about-me-image {
      object-fit: cover;
      border-radius: 50%;
      width: 14em;
      border: 2px solid #343a40;
      padding: .2em;
    }
    #contact-form {
      width: 55%;
    }
  }
  
  /* MOBILE */
  @media screen and (max-width: 992px) {
    p {
      font-size: 95%;
    }
    #about-me-image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2em;
    }
    #about-me-parragraph {
     margin: 1em 0; 
    }
    .container-custom {
      margin-top: 1.5em;
    }
    #about-me-image {
      object-fit: cover;
      border-radius: 50%;
      width: 12em;
      border: 2px solid #343a40;
      padding: .2em;
    }
    #about-me-social-logos-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 1.3em;
    }
    .about-me-social-logo {
      height: 2em; 
      margin-right: .9em;
    }
    #about-me-horizontal-line {
      border-bottom: 1px solid #000000b0;
      margin-top: 1.9em;
    }
    #contact-form {
      width: 100%;
    }
    /* EXPERIENCE */
    .company-logo-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: .8em;
    }
    .experience-details-container {
      margin-bottom: .8em;
    }
  }