*
{
  margin: 0;
  padding: 0;
}


.company {
  max-width:10%;
  height:auto;
}

.navbar-style
{
  box-shadow: 0 5px 10px #0a0606;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.logo
{
  height: 48px;
  padding: 2px 10px;
}

.icon-bar
{
  background: darkorange;
}

li a
{
  color: #333;
}

.big-text
{
  font-size: 52px;
  margin: 20px 0;
  color: darkorange;
}


a.btn
{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

a.btn-first
{
  background-color: darkorange;
  color: #ffff;
}

a.btn-second
{
  background: transparent;
  border: 1px solid darkorange;
  color: rgb(0, 0, 0);
}

a.btn-second:hover
{
  background: darkorange;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}

a.btn-first:hover
{
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}

.banner-info, .banner-image
{
  margin: 30px 0;
}

.wrapper{
  width: 100%;
}

.img-banner 
{
  display: none;

}

.img-me h2
{
 width: 100%; 
}

.img-info{
  width: 100%
}

.img-info h2 {
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height:44px;
}

.img-info p {
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height:24px;
}

.img-me 
{
  width: 100%;
}

@media only screen and (min-width: 768px) 
{
  .img-banner 
  {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }

  .wrapper{
    width: 600px;
    margin: 0 auto;
  }

  .img-info h2 {
    padding: 20px 0px 0px;
  }
  
  .img-info p {
    padding: 20px 0px 0px;
  }

  .img-me 
  {
    padding-top: 30px;
  }
}




.company-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.company-logo {
  width: 4em;
  height: 4em;
  background: white;
  object-fit: cover;
  border-radius: 50%;
  padding: .3em;
}
.experience-details-item {
  margin: 0;
  color: #464646;
}
.experience-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.experience-item {
  border: 1px solid #343a40;
  border-radius: 5px;
  margin-right: .7em;
  padding: .1em .5em;
  font-size: 85%;
}
.experience-header {
  margin-bottom: .1em;
}
.experience-horizontal-line {
  margin-bottom: 2em;
}








